<div class="container">
  <div class="row pt-3">
    <div class="col-md-5">
      <h3>Add person</h3>
      <form (ngSubmit)="addUser()">
        <div class="form-group">
          <label>Id</label>
          <input
            type="number"
            name="id"
            [(ngModel)]="user.id"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label>First Name</label>
          <input
            type="text"
            name="first_name"
            [(ngModel)]="user.first_name"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input
            type="text"
            name="last_name"
            [(ngModel)]="user.last_name"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label>email</label>
          <input
            type="email"
            name="email"
            [(ngModel)]="user.email"
            class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-dark">Save</button>
      </form>
    </div>

    <div class="col-md-7">
      <h3>Users</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <span>
                <!-- <button label="Save" icon="pi pi-check"></button>
                <button label="Delete" icon="pi pi-trash"></button> -->
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
