<div class="container">
  <div class="row pt-3">
    <div class="col-md-8">
      <h3>Users</h3>
      <a routerLink="/person"><button type="button">New Person</button> </a>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <div class="row align-items-center mx-auto">
                <div class="col-lg-3 mx-1">
                  <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-text p-button-raised" (onClick)="viewPersonDetail(user.id)"></p-button>
                </div>
                <div class="col-lg-3 mx-1">
                  <p-button icon="pi pi-user-edit" styleClass="p-button-rounded p-button-help p-button-text p-button-raised" (onClick)="editPerson(user.id)"></p-button>

                </div>
                <div class="col-lg-3 mx-1">
                  <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text p-button-raised" (onClick)="deletePerson(user.id)"></p-button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
