
<div>
  <h1>Hiiiii</h1>
  <p-table
    [value]="people"
    [(selection)]="selectedPerson"
    dataKey="code"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr>
        <td>
          <p-tableCheckbox [value]="person"></p-tableCheckbox>
        </td>
        <td>{{ person.id }}</td>
        <td>{{ person.first_name }}</td>
        <td>{{ person.last_name }}</td>
        <td>{{ person.email }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
